#closed-captions
  display: flex
  justify-content: center

  width: 100vw

  pointer-events: none

  & p.voice2.p7
    transition: 2s all ease-in-out
    transform: translateX(180px)

  & p.voice2.p7.on
    transform: translateX(240px)

  & .standard-voice
    text-transform: initial !important

    font-size: 16px !important

  & p.voice3.p6
    transition: 1s transform
    transform: translate(-141px, -145px) scale(2)
    text-transform: uppercase

  & p.voice3.p6.on
    transform: translate(-161px, -135px) scale(2)
    transform: translate(-141px, -145px)
    text-transform: uppercase

  & p.voice3.p6.on
    transform: translate(-161px, -135px)

  & .first-test p.voice1
    max-width: 550px

    font-size: 20px

  & .second-test
    font-style: italic

  & .one-liner
    position: fixed
    top: 50%
    right: 0
    left: 0

    max-width: initial !important
    max-width: 100%
    margin: 0 auto

    transform: translateY(-50%)
    text-align: center
    vertical-align: middle
    word-break: break-all
    pointer-events: none

    color: red

    font-family: "Brenner Display"
    font-size: 320px !important
    font-size: 24vw !important
    line-height: 0.7

    mix-blend-mode: color

  & p.voice2.p42.on
    transform: translateY(10px) scale(0.9)

  & p.voice2.p43.on
    transform: translateY(20px) scale(0.8)

  section.first-test > p.voice1.standard-voice.p0.on > span:nth-child(9),
  section.first-test > p.voice1.standard-voice.p0.on > span:nth-child(10)
    padding: 5px 0

    background: #000

  section.first-test > p.voice1.standard-voice.p0.on > span:nth-child(11)
    font-family: "Brenner Mono"

#closed-captions:before
  position: fixed
  right: 0
  bottom: 40px
  left: 0

  margin: 0 auto

  text-align: center

  color: #fff

.sound0 #closed-captions:before
  content: "[Daunting music]"

.sound1 #closed-captions:before
  content: "[Alarm sound]"

.sound2 #closed-captions:before
  content: "[Siren sound]"

.sound3 #closed-captions:before
  content: "[Alarm sound]"
  // animation: fadeOut 9s forwards
