body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #000;
}

@keyframes animatedBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animated-bg {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  transition: 1s ease;
  -webkit-animation: animatedBG 30s ease infinite;
  -moz-animation: animatedBG 30s ease infinite;
  animation: animatedBG 30s ease infinite;
  opacity: 0;
  background: #000;
  background: linear-gradient(270deg, #000000, #1d1515, #000);
  background-size: 600% 600%;
}
.animated-bg.--is-active {
  opacity: 0;
}

#video-placeholder {
  transform: scale(1.4);
}

#closed-captions {
  height: 100px;
  font-family: "Brenner Mono Light";
}
#closed-captions p {
  position: absolute;
  transition: 0.05s;
  opacity: 0;
}
#closed-captions .on {
  opacity: 1;
}
#closed-captions .off {
  transition: 0.2s;
  opacity: 0;
}

.voice1 {
  font-weight: bold;
}

div#closed-captions {
  position: absolute;
  z-index: 56;
}

#closed-captions p {
  color: #fff;
}

#closed-captions .voice1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
}

.first-test {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  pointer-events: none;
}

p.voice1.standard-voice.p0 {
  transform: translateX(150px);
}

p.voice2.p3.on,
p.voice2.p4.on,
p.voice2.p5.on,
p.voice2.p7.on {
  font-style: italic;
}

.p0.on,
.p44.on,
.p45.on,
.p46.on {
  overflow: hidden;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  white-space: nowrap;
  letter-spacing: 0.15em;
  border-right: 0.15em solid orange;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent 50%;
    border-color: cyan;
  }
}
.bg-video {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  filter: blur(100px);
  opacity: 1;
}
.bg-video.--is-active {
  filter: blur(0px);
}

#closed-captions {
  display: flex;
  justify-content: center;
  width: 100vw;
  pointer-events: none;
}
#closed-captions p.voice2.p7 {
  transition: 2s all ease-in-out;
  transform: translateX(180px);
}
#closed-captions p.voice2.p7.on {
  transform: translateX(240px);
}
#closed-captions .standard-voice {
  text-transform: initial !important;
  font-size: 16px !important;
}
#closed-captions p.voice3.p6 {
  transform: translate(-161px, -135px);
  text-transform: uppercase;
  color: red;
  font-family: "Brenner Display";
  mix-blend-mode: color;
}
#closed-captions .first-test p.voice1 {
  max-width: 550px;
  font-size: 20px;
}
#closed-captions .second-test {
  font-style: italic;
}
#closed-captions .one-liner {
  position: fixed;
  top: 50%;
  right: 0;
  left: 0;
  max-width: initial !important;
  max-width: 100%;
  margin: 0 auto;
  transform: translateY(-50%);
  text-align: center;
  vertical-align: middle;
  word-break: break-all;
  pointer-events: none;
  color: red;
  font-family: "Brenner Display";
  font-size: 320px !important;
  font-size: 24vw !important;
  line-height: 0.7;
  mix-blend-mode: color;
}
#closed-captions p.voice2.p42.on {
  transform: translateY(10px) scale(0.9);
}
#closed-captions p.voice2.p43.on {
  transform: translateY(20px) scale(0.8);
}
#closed-captions section.first-test > p.voice1.standard-voice.p0.on > span:nth-child(9),
#closed-captions section.first-test > p.voice1.standard-voice.p0.on > span:nth-child(10) {
  padding: 5px 0;
  background: #000;
}
#closed-captions section.first-test > p.voice1.standard-voice.p0.on > span:nth-child(11) {
  font-family: "Brenner Mono";
}

.sound-effects {
  position: fixed;
  top: calc(50% + 290px);
  transform: translateY(-50%);
  color: #fff;
  font-family: "Brenner Mono";
}
.sound-effects:before {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.sound0 .sound-effects:before {
  content: "[Daunting music]";
}

.sound1 .sound-effects:before {
  content: "[Alarm sound]";
}

.sound2 .sound-effects:before {
  content: "[Siren sound]";
}

.sound3 .sound-effects:before {
  content: "[Alarm sound]";
}

.sound4 .sound-effects:before {
  content: "[Alarm sound]";
}

.sound5 .sound-effects:before {
  content: "[Alarm sound]";
}

.sound6 .sound-effects:before {
  content: "[Creeping noise]";
}

.red-spotlight {
  position: fixed;
  z-index: 1;
  left: 0;
  width: 100vh;
  height: 100vh;
  transition: 3s ease-in;
  transform: scale(0.4);
  opacity: 0;
  border-radius: 50%;
  background: red;
  filter: blur(131px);
  mix-blend-mode: color;
}

.sound0 .red-spotlight {
  transform: scale(1) translateX(100vw);
  opacity: 1;
}

.blue-spotlight {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 10vw;
  width: 100vh;
  height: 100vh;
  transition: 3s ease-in;
  pointer-events: none;
  opacity: 0;
  border-radius: 50%;
  background: cyan;
  filter: blur(131px);
  mix-blend-mode: soft-light;
}

.overlay {
  position: fixed;
  z-index: 1;
  width: 640px;
  height: 360px;
  transition: 0.2s background;
  transform: scale(1.4);
  pointer-events: none;
  opacity: 0;
  mix-blend-mode: color;
}

.sound1 .overlay {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background: red;
}

.sound2 .blue-spotlight {
  transform: scale(2);
  opacity: 1;
}

.sound3 .overlay,
.sound4 .overlay,
.sound5 .overlay {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background: red;
}

.caption7 #video-placeholder,
.sound5 #video-placeholder {
  display: none;
}
.caption7 #video-placeholder.bg-video,
.sound5 #video-placeholder.bg-video {
  display: block;
}

.sound6 #video-placeholder {
  display: none;
}
.sound6 .bg-video {
  transform: scale(0.7);
  filter: blur(0);
}

.bg-video {
  transition: 42s ease-in transform;
}

/*# sourceMappingURL=styles.css.map */
