body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #000;
}

@keyframes animatedBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animated-bg {
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  transition: 1s ease;
  -webkit-animation: animatedBG 30s ease infinite;
  -moz-animation: animatedBG 30s ease infinite;
  animation: animatedBG 30s ease infinite;
  opacity: 0;
  background: #000;
  background: linear-gradient(270deg, #000000, #1d1515, #000);
  background-size: 600% 600%;
}

.animated-bg.--is-active {
  opacity: 0;
}

.red-spotlight {
  border-radius: 50%;
  height: 100vh;
  width: 100vh;
  position: fixed;
  z-index: 1;
  left: 0;
  background: red;
  filter: blur(131px);
  opacity: 0;
  transition: 3s ease-in;
  mix-blend-mode: color;
  transform: scale(0.4);
}

.red-spotlight-1.--is-active {
  opacity: 1;
  transform: scale(1) translateX(100vw);
}

#video-placeholder {
  transform: scale(1.4);
}

.overlay {
  width: 640px;
  height: 360px;
  transform: scale(1.4);
  position: fixed;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s background;
  mix-blend-mode: color;
}
.overlay.--is-active {
  opacity: 1;
}

#closed-captions {
  height: 100px;
}

#closed-captions p {
  position: absolute;
  transition: 0.05s;
  opacity: 0;
}

#closed-captions .on {
  opacity: 1;
}

#closed-captions .off {
  transition: 0.2s;
  opacity: 0;
}

.voice1 {
  font-weight: bold;
}

div#closed-captions {
  position: absolute;
  z-index: 56;
}

#closed-captions p {
  color: #fff;
}

#closed-captions .voice1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

#closed-captions {
  display: flex;
  justify-content: center;
  width: 100vw;
}

#closed-captions p.voice2.p7 {
  transition: 2s all ease-in-out;
  transform: translateX(180px);
}
#closed-captions p.voice2.p7.on {
  transform: translateX(240px);
}
#closed-captions .standard-voice {
  text-transform: initial !important;
  font-size: 16px !important;
}
#closed-captions p.voice3.p6 {
  transition: 1s transform;
  transform: translate(-141px, -145px) scale(2);
  text-transform: uppercase;
}
#closed-captions p.voice3.p6.on {
  transform: translate(-161px, -135px) scale(2);
  transform: translate(-141px, -145px);
  text-transform: uppercase;
}
#closed-captions p.voice3.p6.on {
  transform: translate(-161px, -135px);
}
#closed-captions .first-test p.voice1 {
  max-width: 550px;
  font-size: 20px;
}
#closed-captions .second-test {
  font-style: italic;
}
#closed-captions .one-liner {
  position: fixed;
  top: 50%;
  right: 0;
  mix-blend-mode: color;
  left: 0;
  max-width: initial !important;
  max-width: 100%;
  margin: 0 auto;
  transform: translateY(-50%);
  text-align: center;
  vertical-align: middle;
  word-break: break-all;
  pointer-events: none;
  color: red;
  font-size: 320px !important;
  font-size: 24vw !important;
  line-height: 0.7;
}
#closed-captions p.voice2.p42.on {
  transform: translateY(10px) scale(0.9);
}
#closed-captions p.voice2.p43.on {
  transform: translateY(20px) scale(0.8);
}

.first-test {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  pointer-events: none;
}

p.voice1.standard-voice.p0 {
  transform: translateX(150px);
}

p.voice2.p3.on,
p.voice2.p4.on,
p.voice2.p5.on,
p.voice2.p7.on {
  font-style: italic;
}

.p0.on,
.p44.on,
.p45.on,
.p46.on {
  overflow: hidden;
  margin: 0 auto;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  white-space: nowrap;
  letter-spacing: 0.15em;
  border-right: 0.15em solid orange;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent 50%;
    border-color: cyan;
  }
}

.bg-video {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  filter: blur(100px);
  opacity: 1;
}

.bg-video.--is-active {
  filter: blur(0px);
}

.ytp-chrome-top .ytp-show-cards-title,
.ytp-pause-overlay .ytp-scroll-min,
.ytp-gradient-bottom {
  display: none !important;
}
